<div class="module mailchimp">
	<div class="module-header">
		<div class="header-icon">
			<i class="fa fa-envelope-o" aria-hidden="true"></i>
		</div>
		<div class="header-title">
			<h3>Mailchimp</h3>
		</div>
		<div class="total">
			<span class="bold">5</span> Total
		</div>
	</div>
	<div class="module-body">
		<table class="table table-striped-even table-responsive">
			<tbody>
				<tr>
					<td>
						<p class="header">Sed ut perspiciatis unde<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, sed do Nam rhoncus. Consectetur adipiscing elit cillum dolore eu fugiat nulla pariatur.</span>
					</td>
					<td class="cta">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</td>
				</tr>
				<tr>
					<td>
						<p class="header">Sed ut perspiciatis unde<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, sed do Nam rhoncus. Consectetur adipiscing elit cillum dolore eu fugiat nulla pariatur.</span>
					</td>
					<td class="cta">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</td>
				</tr>
				<tr>
					<td>
						<p class="header">Sed ut perspiciatis unde<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, sed do Nam rhoncus. Consectetur adipiscing elit cillum dolore eu fugiat nulla pariatur.</span>
					</td>
					<td class="cta">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</td>
				</tr>
				<tr>
					<td>
						<p class="header">Sed ut perspiciatis unde<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, sed do Nam rhoncus. Consectetur adipiscing elit cillum dolore eu fugiat nulla pariatur.</span>
					</td>
					<td class="cta">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</td>
				</tr>
				<tr>
					<td>
						<p class="header">Sed ut perspiciatis unde<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do, sed do Nam rhoncus. Consectetur adipiscing elit cillum dolore eu fugiat nulla pariatur.</span>
					</td>
					<td class="cta">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>