<div id="content-header"> 
	<div id="content-header-body">
		<div class="row">
			<h1>Welcome <span id="content-header-user">, Super Admin</span></h1>
		</div>
		<div class="row">
			<div id="icon"></div> <p>Paxport UK</p>
		</div>
	</div>
</div>
<div id="content-body">
	<div class="kpi-container">
		<div class="row">
			<h2>KPI</h2>
		</div>
		<div class="row">
			<div ng-repeat="view in kpis">
				<div class="col col-sm-4">
			    	<ng-include src="view.url"></ng-include>
		    	</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pull-up">
			<a href="#">
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col col-sm-8">
			<ng-include src="'http://localhost:8000/components/dashboard/partials/dashboard-mailchimp.html'"></ng-include>
		</div>
		<div class="col col-sm-4">
			<ng-include src="'http://localhost:8000/components/dashboard/partials/dashboard-serverstatus.html'"></ng-include>
		</div>
	</div>
</div>