<div class="module serverstatus">
	<div class="module-header">
		<div class="header-icon">
			<i class="fa fa-server" aria-hidden="true"></i>
		</div>
		<div class="header-title">
			<h3>Server status</h3>	
		</div>
	</div>
	<div class="module-body">
		<table class="table">
			<tbody>
				<tr class="up">
					<td>
						<p class="header">Server 1<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</td>
					<td class="cta">
						<i class="fa fa-square" aria-hidden="true"></i>
					</td>
				</tr>
				<tr class="up">
					<td>
						<p class="header">Server 2<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</td>
					<td class="cta">
						<i class="fa fa-square" aria-hidden="true"></i>
					</td>
				</tr>
				<tr class="up">
					<td>
						<p class="header">Server 3<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</td>
					<td class="cta">
						<i class="fa fa-square" aria-hidden="true"></i>
					</td>
				</tr>
				<tr class="neutral">
					<td>
						<p class="header">Server 4<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
					</td>
					<td class="cta">
						<i class="fa fa-square" aria-hidden="true"></i>
					</td>
				</tr>
				<tr class="down">
					<td>
						<p class="header">Server 5<p>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
					</td>
					<td class="cta">
						<i class="fa fa-square" aria-hidden="true"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>