<div class="module kpi jiras" ng-controller="jiraKpiCtrl" ng-class="{'loadingKpi' : !loaded }">
	<loading-icon></loading-icon>
	<div class="module-header">
		<div class="header-icon">
			<i class="fa fa-list-ol" aria-hidden="true"></i>
		</div>
		<div class="header-title">
			<h3>{{ kpis.header }}</h3>
		</div>
		<div class="total">
			<span class="bold">{{ kpis.total }}</span> Total
		</div>		
	</div>
	<div class="module-body">
		<ul ng-repeat="(key,val) in kpis.data" class="indicator">
			<li class="{{ key }}">
				<h4 class="bold">{{ val }}</h4>
				<br/>
				<span>{{ key }}</span>
			</li>
		</ul>
	</div>
	<div class="module-footer">
		<show-modal></show-modal>
	</div>
</div>