<div class="module kpi jiras" ng-controller="jiraKpiCtrl" ng-class="{'loader' : !loaded }">
	<loading-icon></loading-icon>
	<div class="module-header">
		<div class="header-icon">
			<i class="fa fa-angle-double-right" aria-hidden="true"></i>
		</div>
		<div class="header-title">
			<h3>{{ kpis.header }}</h3>
		</div>
		<div class="total">
			<span class="bold">{{ kpis.total }}</span> Total
		</div>		
	</div>
	<div class="module-body">
		<div class="row module-kpi-container">
			<div class="indicator" ng-repeat="(key,val) in kpis.data">
				<div class="col-sm-4 kpi-data {{ key }}">
					<div class="status attempts"></div>
					<h4 class="bold">{{ val }}</h4>
					<br/>
					<span>{{ key }}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="module-footer">
		<show-modal></show-modal>
	</div>
</div>