<div class="module kpi bookings" ng-controller="bookingsKpiCtrl" ng-class="{'loadingKpi' : !loaded }">
	<loading-icon></loading-icon>
	<div class="module-header">
		<div class="header-icon">
			<i class="fa fa-book" aria-hidden="true"></i>
		</div>
		<div class="header-title">
			<h3>{{ kpis.header }}</h3>
		</div>
		<div class="total">
			<span class="bold">{{ kpis.total }}</span> Total
		</div>		
	</div>
	<div class="module-body">
		<ul ng-repeat="(key,val) in kpis.data" class="indicator">
			<li class="kpi-data {{ key }}">
				<h4 class="bold">{{ val }}</h4>
				<br/>
				<span>{{ key }}</span>
			</li>
		</ul>
	</div>
	<div class="module-footer">
		<show-modal></show-modal>
	</div>
</div>


<!-- Change KPI Modal -->
<div class="modal fade modal-center" id="change-kpi-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog align-self-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="modal-icon"></div>
        <h5 class="modal-title" id="exampleModalLabel">Update KPI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="kpi" class="form-control-label">Choose:</label>
            <select>
			  <option value="response-time">Response Times</option>
			  <option value="jira">Jira</option>
			  <option value="another-kpi">Another KPI</option>
			  <option value="another-kpi">Another KPI</option>
			  <option value="another-kpi">Another KPI</option>
			  <option value="another-kpi">Another KPI</option>
			</select>
          </div>
      	</form>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>