<div class="module bookings" ng-controller="bookingsKpiCtrl">
	<div class="module-header">
		<div class="row">
			<div class="col-md-2">
				<div class="icon"></div>
			</div>
			<div class="col-md-7">
				<h3>{{ kpis.header }}</h3>
			</div>
			<div class="col-md-3 total float-right">
				<span class="bold">{{ kpis.total }}</span> Total
			</div>		
		</div>
	</div>
	<div class="module-body">
		<div class="row">
			<ul ng-repeat="(key,val) in kpis.data" class="indicator">
				<li class="kpi-data {{ key }}">
					<h4 class="bold">{{ val }}</h4>
					<br/>
					<span>{{ key }}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="module-footer">
		<div class="row">
			<div class="change-kpi bookings"></div>
		</div>
	</div>
</div>

<!-- Change KPI Modal -->
<div class="modal fade" id="change-kpi-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change KPI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="kpi" class="form-control-label">KPI:</label>
            <input type="text" class="form-control" id="kpi">
          </div>
      	</form>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary">Change</button>
      </div>
    </div>
  </div>
</div>