// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------

@pp-brand-primary:				#CE2443;
@pp-brand-secondary:			#7B1E2D;

@pp-nav-item-active: 			#B7263E;
@pp-nav-item-active-border: 	#7B1E2D;

@pp-nav-item-icon: 				#FFFFFF;
@pp-nav-item-text: 				#FFFFFF;

@pp-header-text:				#8D8D8D;
@pp-body-text:					#8D8D8D;

@pp-darker-grey:				#5C5C5C;
@pp-dark-grey:					#818181;
@pp-light-grey:					#F6F6F6;

@pp-green-alt:					#62CE90;
@pp-light-green:         		#5BB18E;
@pp-dark-green:         		#407F66;

@pp-light-orange:				#F89650;
@pp-dark-orange:				#AE6938;

@pp-pink-alt:					#D13151;
@pp-pink-purple-total:			#CE2443;
@pp-light-pink-purple:			#D84963;
@pp-dark-pink-purple:			#AD394E;

@pp-header-line-grey:			#EDF0F0;

@pp-content-header-bg:			#FBFBFB;

@pp-module-header-bg:			#FDFEFE;
@pp-module-line-grey:			#E2E2E2;
@pp-module-total-bg:			#FAFBFB;

@pp-kpi-box-bg:					#F6F6F6;
@pp-kpi-box-shadow:				#EBEBEB;

@pp-kpi-major-bg:				#D84963;
@pp-kpi-major-shadow:			#AD394E;
@pp-kpi-medium-bg:				#F89650;
@pp-kpi-medium-shadow:			#AE6938;
@pp-kpi-minor-bg:				#5BB18E;
@pp-kpi-minor-shadow:			#407F66;

@pp-table-stripe:				#FAFBFB;
@pp-table-hover:				#F6F6F6;