// ----------------------------------------------------------------------
// Common
// ----------------------------------------------------------------------

body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	min-width: 600px;
	background: @pp-light-grey;
	font-size: @pp-size-regular;
	font-family: @pp-family-regular;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	h1, h2, h3 {
		letter-spacing:-1px;
		color: @pp-header-text;
		font-family: @pp-family-xbold;
	}

	p {
		padding: 0;
		color: @pp-body-text;
		margin: .4em 0 .8em 0;
	}

	a {
		outline: none;
		color: @pp-brand-secondary;

		&:hover {
			color: #FFFFFF;
			text-decoration: none;
			.transition(all 1s ease-out);
			background: @pp-brand-secondary;
		}		
	}

	ul {
		list-style: none;
		padding-top: 5px;
		margin-left: -40px;
	}

	.no-gutter > [class*='col-'] {
    	padding-left: 0;
    	padding-right: 0;
	}

	.float-right {
		float:right;
	}
	
	*:focus {
		outline-color: transparent;
  		outline-style: none;
    	outline: none;
	}

	.kpi-container {
		.transition(all 1s ease-out);
	}

	.pull-up {
		margin: 50px 22px 12px 2px;
		border-top: 1px solid #E2E2E2;
		.transition(all 0.5s ease-out);
	
		a {	
			left: 48%;
			top: -18px;
		    width: 35px;
		    height: 35px;
		    color: #898989;
		    display: block;
		    background: white;
		    border-radius: 50%;
		    position: relative;
		    border: 1px solid #E2E2E2;
		    
		    &:hover {
		    	color: #CE2443;
		    	border: 1px solid #CE2443;
		    }

		    i.fa-chevron-down {
		    	padding: 11px 10.5px
		    }

		    i.fa-chevron-up {
		    	padding: 10px 10.5px;
		    }
		}
	}

	.pull-up.closed {
		margin-top:25px;
	}

	table {
		tr:last-child td:first-child { 
			.border-radiuses (0, 0, 6px, 0);
		}

		tr:last-child td:last-child { 
			.border-radiuses (0, 6px, 0, 0);
		}
	}

	#right {
		width: 100%;
		float: right;
		z-index: -10;
		padding-left: 16%;
		.transition(.1s ease-in-out);

		@media only screen and (max-width: 1360px) {
  			padding-left: 78px;
		}

		&.condensed {
			padding-left: 78px;
		}
	}

	#content {
		#content-header {
			min-height: 170px;
			background-color: @pp-content-header-bg;

			#content-header-body {
				padding: 20px 60px;

				.row {
					h1 {
						margin-top:2%;

						#content-header-user {
	    					letter-spacing: 0.4px;
	    					font-size: @pp-size-xxlarge;
	    					font-family: @pp-family-regular;
						}
					}

					#icon {
						 display: inline-block;
						.icon(building, svg, 18px, 18px, none);
					}

					p {
						display:inline;
						letter-spacing: 0.2px;
						font-size: @pp-size-large;
					}
				}

				.nav-tabs {
				    bottom: -8px;
				    height: 50px;
				    margin-left: 0;
				    margin-top: 20px;
				    position: relative;
				    border-bottom: none;

				    li {
				    	padding: 10px 0px;
    					margin-right: 10px;

				    	a {
				    		border: none;
				    		padding: 15px 20px;
				    		background-color: #FBFBFB;
				    		font-family: @pp-family-bold;
				    		.opacity(0.5);

				    		&:hover {
				    			color: @pp-brand-secondary;
				    			.opacity(1);
				    		}
				    	}

				    	a.active {
				    		background: #F6F6F6;
				    		border: none;
				    		.opacity(1)
				    	}
				    }
				}
			}
		}

		#content-body {
			padding: 30px 70px;
			
			.row { 
				margin:0;

				h2 {
	    			letter-spacing: -0.8px;
	    			font-size: @pp-size-xxxlarge;
					margin: 0px 0px 20px 0px !important;
				}
				
				.col-sm-4, .col-sm-8 {
					padding:0;
				}

				@media (min-width: 780px) {
					.col-sm-4 {
				    	width: 32%;
					}

					.col-sm-8 {
				    	width: 64.9%;
				    }
				}

				.col {
					&:nth-child(n) {
            			margin-right: 1%;
        			}

					.last  {
            			margin-right: 0;
        			}

					.module {
						.border-radiuses (0, 6px, 6px, 0);
						.box(#FFFFFF, all, none, auto, auto);

						.module-header {
							.box(@pp-module-header-bg, bottom, none, auto, 55px);

							.row {
								.col-md-7, .col-md-9, .col-md-10 {
									padding:0px;

									h3 {
									    letter-spacing: 0px;
									    font-size: @pp-size-xlarge;
									    font-family: @pp-family-xbold;
									}
								}

								.total {
									text-align: center;
									padding: 20px 10px 0px;
									font-size: @pp-size-regular;
									color: @pp-pink-purple-total;
									.box(@pp-module-total-bg, left, none, none, 54px);
								}
							}
						}

						.module-body {
							padding: 13px 18px;
							
							.row {
								text-align: center;

								ul, li, h4, span {
									display: inline-block;
								}

								ul {
									li {
										padding: 10px;
										margin: 6px 2px;
										text-align: center;
										.border-radius (3px);
										.box(@pp-kpi-box-bg, all, none, 70px, auto);
										.box-shadow(0px 1px 0px 0px @pp-kpi-box-shadow);

										&:hover {
											cursor:pointer;
											background-color:#818181;
											.transition(all 1s ease-out);

											h4, span {
												color: white !important;
											}
										}

										h4 {
											color: @pp-body-text;
											font-size: @pp-size-xxxlarge;
										}

										span {
											color: @pp-body-text;
											text-transform: capitalize;
										}
									}
								}
							}
						}

						.module-footer {
							.row {
								.change-kpi {
									.opacity(0.5);
									cursor:pointer;
									.icon(kpi-edit-cog, svg, 24px, 24px, 0px 0px 13px 13px);
									
									&:hover {
										.opacity(1);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}