// ----------------------------------------------------------------------
// Common
// ----------------------------------------------------------------------

body {

	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	background: #F6F6F6;
	min-width: 600px;
	font-family: @pp-family-regular;
	font-size: @pp-size-regular;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	h1, h2, h3 {
		margin: .8em 0 .2em 0;
		padding: 0;
		color: @pp-header-text;
	}

	p {
		margin: .4em 0 .8em 0;
		padding: 0;
		color: @pp-body-text;
	}

	a {
		color: @pp-brand-secondary;
		outline: none;

		&:hover {
			color: #FFFFFF;
			background: @pp-brand-secondary;
			text-decoration: none;
			.transition(all 1s ease-out);
		}		
	}

	ul {
		list-style: none;
		margin-left: -40px;
		padding-top: 5px;
	}

	.no-gutter > [class*='col-'] {
    	padding-right: 0;
    	padding-left: 0;
	}

	.float-right {
		float:right !important;
	}

	*:focus {
    	outline: none;
	}

	#content {
		margin-top: -5px;

		#content-header {
			min-height: 200px;
			background-color: #FBFBFB;
		}

		#content-body {
			h1 {
				padding-top: 0;
				margin-top: 0;
			}
		}
	}
}