// ----------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------

.font-face('MuseoSans','300');
.font-face('MuseoSans','500');
.font-face('MuseoSans','700');
.font-face('MuseoSans','900');

@pp-family-regular: 'MuseoSans-300', Helvetica, sans-serif;
@pp-family-bold: 	'MuseoSans-500', Helvetica, sans-serif;
@pp-family-xbold: 	'MuseoSans-700', Helvetica, sans-serif;
@pp-family-xxbold: 	'MuseoSans-900', Helvetica, sans-serif;

@pp-size-xxlarge:				18px;
@pp-size-xlarge:				16px;
@pp-size-large:					14px;
@pp-size-regular:				12px;
@pp-size-small:					10px;

@pp-size-h1:					22px;
@pp-size-h2:					20px;
@pp-size-h3:					18px;
@pp-size-h4:					16px;
@pp-weight-h:					700;

@pp-size-box-title:				16px;
@pp-weight-box-title:			500;

@pp-size-box-total-primary:		18px;
@pp-size-box-total-secondary:	12px;
@pp-weight-box-total-primary:	500;
@pp-weight-box-total-secondary:	300;

@pp-size-box-stats-large:		22px;
@pp-size-box-stats-small:		18px;

@pp-weight-box-stats-large:		500;
@pp-weight-box-stats-small:		300;