// ----------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------

header.row {
	margin: 0;
	height: 79px;
	color: @pp-header-text;
	background-color: #FFFFFF;
	font-size: @pp-size-large;
	border-bottom: 1px solid @pp-header-line-grey;

	.header-left {
		padding:0;

		#header-search {
			float: left;
			height: 79px;
			width: 90%;

			form {
	    		top: 0;
	    		left: 70px;
	    		width: 80%;
	    		position: absolute;

	    		.form-group {
					margin-bottom:0px;
				
		    		input.form-control {
		    			width: 100%;
		    			border: none;
		    			height: 78px;
		    			font-size: 24px;
		    			color: @pp-header-text;
		    			padding: 2px 0px 0px 0px;
		    			.removeBootStrapFormOutline();
	    			}
				}
			}

			.icon {
				.icon(search, svg, 36px, 36px, 27px 32px);
			}
		}
	}

	.header-right {
		padding:0; 

		#header-logout {
			top: 0;
			right: 0;
			position: absolute;
			cursor: pointer;
		    padding: 25px 28px;
			display: inline-block;
			.box(@pp-brand-primary, all, none, 75px, 79px);

			&:hover {
				background: @pp-brand-secondary;
				.transition(all 0.5s ease-out);
			}

			.icon {
				.icon(exit, svg, 30px, 30px, none);
			}
		}

		#header-info {
			right: 85px;
			padding: 24px 30px;
			position: absolute;
			display: inline-block;
			.box(none, left, 1px solid @pp-header-line-grey, 100%, 79px);

			p {
				top: -19%;
			    left: 3%;
			    display: inline;
			    position: relative;
			}

			.icon {
				display: inline-block;
				.icon(user, svg, 30px, 30px, none);
			}
		}
	}
}