// ----------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------

header {
	.box(#FFFFFF, bottom, 1px solid @pp-header-line-grey, 100%, 79px);
	color: @pp-header-text;
	font-size: @pp-size-large;

	#logout-btn {
		.box(@pp-brand-primary, all, none, 85px, 100%);
		float: right;
		display: inline-block;
		cursor: pointer;

		&:hover {
			background: @pp-brand-secondary;
			.transition(all 0.5s ease-out);
		}

		.icon {
			.icon(exit, svg, 36px, 36px, 25px 32px);
		}
	}

	#auth-infoBox {
		.box(white, left, 1px solid @pp-header-line-grey, 285px, 100%);
		float: right;
		display: inline-block;

		p {
		    display: inline;
		    top: -14px;
		    left: 4px;
		    position: relative;
		}

		.icon {
			.icon(user, svg, 36px, 36px, 25px 0px 0px 30px);
			display: inline-block;
		}
	}

	#search-txtBox {
		float: left;
		height: 100%;
		width: 50%;

		form {
			display: inline-block;
    		position: absolute;
    		top: 0;
    		left: 70px;
    		width: 50%;
    		.border(bottom, 1px solid @pp-header-line-grey);

    		input {
    			height: 79px;
    			width: 100%;
    			font-size: 24px;
    			border: none;
    			color: @pp-header-text;
    			padding-top: 5px;
    		}
		}

		.icon {
			.icon(search, svg, 36px, 36px, 27px 32px);
		}
	}
}