.module.jiras {
	.module-header {
		.row {
			.col-md-2 {
				.fa {
					color: @pp-body-text;
					margin: 20px 10px 0px;
    				font-size: 17px;
				}
			}
		}
	}
	
	.module-body {
		h4, span {
			color:white !important;
		}

		.major {
			background:@pp-kpi-major-bg !important;
			.box-shadow(0px 1px 0px 0px @pp-kpi-major-shadow) !important;
		}

		.medium {
			background:@pp-kpi-medium-bg !important;
			.box-shadow(0px 1px 0px 0px @pp-kpi-medium-shadow) !important;
		}

		.minor {
			background:@pp-kpi-minor-bg !important;
			.box-shadow(0px 1px 0px 0px @pp-kpi-minor-shadow) !important;
		}
	}
}